// Type
$T_default: '.cck-badge__default';
$T_ghost: '.cck-badge__ghost';

// Size
$S_xs: '.cck-badge__size--xs';
$S_sm: '.cck-badge__size--sm';
$S_md: '.cck-badge__size--md';
$S_lg: '.cck-badge__size--lg';

// Color
$C_brand: '.cck-badge__color--brand';
$C_highlight: '.cck-badge__color--highlight';
$C_success: '.cck-badge__color--success';
$C_danger: '.cck-badge__color--danger';

// Elements
$badge: '.cck-badge';
$content: '.cck-badge__content';
$maxIndicator: '.cck-badge__max-indicator';
$withContent: '.cck-badge--with-content';
$withoutContent: '.cck-badge--without-content';
$hidden: '.cck-badge--hidden';
