$fill: '.cck-tabs__fill';
$line: '.cck-tabs__line';
$toggle: '.cck-tabs__toggle';
$sm: '.cck-tabs__size--sm';
$md: '.cck-tabs__size--md';
$lg: '.cck-tabs__size--lg';
$tabs: '.cck-tabs';
$headerWrapper: '.cck-tabs__headers-wrapper';
$contentWrapper: '.cck-tabs__content-wrapper';
$tab: '.cck-tab';
$label: '.cck-tab__label';
$indicator: '.cck-tab__indicator';
$content: '.cck-tab__content';
$selected: '.cck-tab--selected';
$unselected: '.cck-tab--unselected';
$disabled: '.cck-tab--disabled';
$alignLeft: '.cck-tabs--align-left';
$alignCenter: '.cck-tabs--align-center';
$alignRight: '.cck-tabs--align-right';
$alignStretch: '.cck-tabs--align-stretch';
$svgIcon: '.cck-svg-icon.cck-svg-icon--default-color';
