import { moduleMetadata } from '@storybook/angular';

import { AngularStoriesMeta, AngularStoryObj } from '@cocokits/core';
import { getSelectedCckTheme } from '@cocokits/storybook-theme-switcher';
import { UIComponentConfig } from '@cocokits/angular-core';

import { <%- className %>Component } from '../../<%- relativeComponentDirectory %>/<%- fileName %>.component';


const meta: AngularStoriesMeta = {
  component: <%- className %>Component,
  title: 'Dev/<%- className %>',
  tags: ['!autodocs'],
  decorators: [
    moduleMetadata({
      providers: [
        {
          provide: UIComponentConfig,
          useValue: getSelectedCckTheme()?.uiComponentConfig
        }
      ],
    })
  ],
  argTypes: {
    type: { control: 'text' },
    color: { control: 'text' },
    size: { control: 'text' },
  },
};

export default meta;


export const Default: AngularStoryObj<<%- className %>Component> = {
  args: {
    // color: 'brand',
  },
};