import { applicationConfig, moduleMetadata } from '@storybook/angular';

import { ngThemeArgsToTemplate, StoriesMeta, StoryObj, withThemeConfigProvider } from '@cocokits/storybook-addon-theme-angular';
import {
  AddonParametersControlType,
} from '@cocokits/storybook-addon-theme';

import { <%- className %>Component } from '../../<%- relativeComponentDirectory %>/<%- fileName %>.component';


const meta: StoriesMeta = {
  component: <%- className %>Component,
  title: 'Dev/<%- className %>',
  tags: ['!autodocs'],
  decorators: [
    applicationConfig({
      providers: [withThemeConfigProvider()],
    }),
    moduleMetadata({
      imports: []
    }),
  ],
  parameters: {
    docs: {
      description: {
        component: '',
      },
    },
    cckAddon: {
      componentName: '<%- propertyName %>',
    },
  },
};

export default meta;


export const Dev: StoryObj<DividerComponent> = {
  name: 'Dev',
  parameters: {
    cckAddon: {
      hasControl: true,
      controls: [
        { prop: 'type', type: AddonParametersControlType.SelectThemeConfig },
        { prop: 'color', type: AddonParametersControlType.SelectThemeConfig },
        { prop: 'size', type: AddonParametersControlType.SelectThemeConfig },
        { prop: 'additional', type: AddonParametersControlType.SelectThemeConfig },
      ],
    },
  },
  render: (args) => {
    return {
      props: {
        ...args,
        logMessage: (...message: string[]) => {
          console.log(...message);
        },
      },
      template: `
       <cck-<%- fileName %> ${ngThemeArgsToTemplate(args)}></cck-<%- fileName %>>
      `,
    };
  },
};