@use '../../../token/scss' as *;

@mixin icon-button-basic {
  // Brand
  .cck-icon-button__basic.cck-icon-button__color--brand {
    background-color: transparent;
    fill: $color-brand-default;
  }

  .cck-icon-button__basic.cck-icon-button__color--brand:focus-visible {
    box-shadow: 0 0 0 3px var(--color-brand-alpha-5);
  }

  .cck-icon-button__basic.cck-icon-button__color--brand:disabled {
    background-color: #f1f2f4;
    fill: #94979e;
  }

  .cck-icon-button__basic.cck-icon-button__color--brand:hover:not(:disabled) {
    background-color: $color-brand-alpha-2;
  }

  // Info
  .cck-icon-button__basic.cck-icon-button__color--info {
    background-color: transparent;
    fill: $color-info-default;
  }

  .cck-icon-button__basic.cck-icon-button__color--info:focus-visible {
    box-shadow: 0 0 0 3px var(--color-info-alpha-5);
  }

  .cck-icon-button__basic.cck-icon-button__color--info:disabled {
    background-color: #f1f2f4;
    fill: #94979e;
  }

  .cck-icon-button__basic.cck-icon-button__color--info:hover:not(:disabled) {
    background-color: $color-info-alpha-2;
  }

  // Warning
  .cck-icon-button__basic.cck-icon-button__color--warning {
    background-color: transparent;
    fill: $color-warning-default;
  }

  .cck-icon-button__basic.cck-icon-button__color--warning:focus-visible {
    box-shadow: 0 0 0 3px var(--color-warning-alpha-5);
  }

  .cck-icon-button__basic.cck-icon-button__color--warning:disabled {
    background-color: #f1f2f4;
    fill: #94979e;
  }

  .cck-icon-button__basic.cck-icon-button__color--warning:hover:not(:disabled) {
    background-color: $color-warning-alpha-2;
  }

  // Error
  .cck-icon-button__basic.cck-icon-button__color--error {
    background-color: transparent;
    fill: $color-error-default;
  }

  .cck-icon-button__basic.cck-icon-button__color--error:focus-visible {
    box-shadow: 0 0 0 3px var(--color-error-alpha-5);
  }

  .cck-icon-button__basic.cck-icon-button__color--error:disabled {
    background-color: #f1f2f4;
    fill: #94979e;
  }

  .cck-icon-button__basic.cck-icon-button__color--error:hover:not(:disabled) {
    background-color: $color-error-alpha-2;
  }

  // h-contrast
  .cck-icon-button__basic.cck-icon-button__color--h-contrast {
    background-color: transparent;
    fill: $color-h-contrast-default;
  }

  .cck-icon-button__basic.cck-icon-button__color--h-contrast:focus-visible {
    box-shadow: 0 0 0 3px var(--color-h-contrast-alpha-5);
  }

  .cck-icon-button__basic.cck-icon-button__color--h-contrast:disabled {
    background-color: #f1f2f4;
    fill: #94979e;
  }

  .cck-icon-button__basic.cck-icon-button__color--h-contrast:hover:not(:disabled) {
    background-color: $color-h-contrast-alpha-2;
  }

  // m-contrast
  .cck-icon-button__basic.cck-icon-button__color--m-contrast {
    background-color: transparent;
    color: $color-m-contrast-default;
  }

  .cck-icon-button__basic.cck-icon-button__color--m-contrast:focus-visible {
    box-shadow: 0 0 0 3px var(--color-m-contrast-alpha-5);
  }

  .cck-icon-button__basic.cck-icon-button__color--m-contrast:disabled {
    background-color: #f1f2f4;
    fill: #94979e;
  }

  .cck-icon-button__basic.cck-icon-button__color--m-contrast:hover:not(:disabled) {
    background-color: $color-m-contrast-alpha-2;
  }

  // l-contrast
  .cck-icon-button__basic.cck-icon-button__color--l-contrast {
    background-color: transparent;
    color: $color-l-contrast-default;
  }

  .cck-icon-button__basic.cck-icon-button__color--l-contrast:focus-visible {
    box-shadow: 0 0 0 3px var(--color-l-contrast-alpha-5);
  }

  .cck-icon-button__basic.cck-icon-button__color--l-contrast:disabled {
    background-color: #f1f2f4;
    fill: #94979e;
  }

  .cck-icon-button__basic.cck-icon-button__color--l-contrast:hover:not(:disabled) {
    background-color: $color-l-contrast-alpha-2;
  }
}
