@mixin sizes() {
  // Base: (4px)
  --size-0: 0px; // 4X0=0
  --size-1: 2px; // 4X0.5=2
  --size-2: 4px; // 4X1=4
  --size-3: 6px; // 4X1.5=6
  --size-4: 8px; // 4X2=8
  --size-5: 12px; // 4X3=12
  --size-6: 16px; // 4X4=16
  --size-7: 20px; // 4X5=20
  --size-8: 24px; // 4X6=24
  --size-9: 28px; // 4X7=28
  --size-10: 32px; // 4X8=32
  --size-11: 40px; // 4X10=40
  --size-12: 48px; // 4X12=48
  --size-13: 64px; // 4X16=64
  --size-14: 80px; // 4X20=80
  --size-15: 96px; // 4X24=96
  --size-16: 128px; // 4X32=128
  --size-17: 160px; // 4X40=160
  --size-18: 192px; // 4X48=192
  --size-19: 224px; // 4X56=224
  --size-20: 256px; // 4X64=256
  --size-21: 320px; // 4X80=320
  --size-22: 384px; // 4X96=384
  --size-23: 480px; // 4X120=480
  --size-24: 560px; // 4X140=560
  --size-25: 640px; // 4X160=640
  --size-26: 768px; // 4X190=760
  --size-27: 1024px; // 4X256=1024
  --size-28: 1280px; // 4X320=1280
  --size-29: 1440px; // 4X360=1440
  --size-30: 1600px; // 4X400=1600
  --size-31: 1920px; // 4X480=1920

  // Icon
  --size-icon-default: var(--size-6); // xs 16px
  --size-icon-xs: var(--size-6); // 16px
  --size-icon-sm: var(--size-7); // 20px
  --size-icon-md: var(--size-8); // 24px
  --size-icon-lg: var(--size-9); // 28px
  --size-icon-xl: var(--size-10); // 32px
  --size-icon-xxl: var(--size-12); // 48px
}
