:host {
  display: flex;
  align-items: center;
  gap: 12px;
}

.volume-label {
  font: var(--volume-text-font);
  color: var(--volume-text-color);
}

.volume-icon {
  fill: var(--volume-text-color);
}

.volume-display-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}
