@use '../../token/scss' as *;

@mixin hint {
  .cck-hint {
    display: flex;
    gap: 6px;
    font: $text-sm-font-medium;
    color: $text-dark-secondary;

    .cck-svg-icon--default-color .cck-svg-icon__svg {
      fill: currentcolor;
    }

    &__color {
      &--default {
        color: $text-dark-secondary;
      }

      &--success {
        color: $state-success-active;
      }
    }
  }
}
