@use '../../token/scss' as *;

@mixin menu {
  .cck-menu {
    display: flex;
    flex-direction: column;
    border: 1px solid $base-border;
    border-radius: $radi-6;
    padding: $spacing-5 0;
    box-shadow: 0 8px 10px -6px #0d10170a, 0 18px 22px -4px #0d101714;
    margin: 4px 0;
    background-color: $base-surface-1;
  }

  .cck-menu__overlay .cck-overlay__backdrop {
    background-color: rgb(0 0 0 / 0%);
  }
}
