@use '../../token/scss' as *;

@mixin textarea {
  .cck-textarea {
    border: none;
    outline: none;
    background-color: transparent;
    scrollbar-color: $base-border transparent;
    font: $text-base-font-medium;
    color: $text-dark-primary;
    padding: 0;
    min-height: 24px;
    min-width: 100%;
  }

  .cck-textarea::placeholder {
    color: $text-dark-tertiary;
  }

  .cck-textarea::-webkit-resizer {
    width: 9px;
    height: 9px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none"><path d="M4 4L7.2929 0.707105C7.92286 0.0771402 9 0.523309 9 1.41421V6C9 7.65685 7.65685 9 6 9H1.41421C0.523309 9 0.077142 7.92286 0.707107 7.29289L4 4Z" fill="%23A1A1AA"/></svg>');
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .cck-textarea:disabled {
    user-select: none;
    cursor: default;
    color: $base-disabled;
  }
}
