@use '../../token/variables/colors-palette' as *;

.button {
  background-color: $color-gray-6;
  border: none;
  padding: 10px 24px;
  border-radius: 4px;
  font-size: 16px;
  color: $color-gray-0;
}
