@use '../../token/scss-variables' as *;

// .cck-checkbox { }

.cck-checkbox__wrapper {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  gap: 8px;
}

.cck-checkbox__input-wrapper {
  display: inline-block;
  position: relative;
  box-sizing: content-box;
  line-height: 0;
  white-space: nowrap;
  cursor: pointer;
  flex-shrink: 0;
}

.cck-checkbox__size--sm .cck-checkbox__input-wrapper {
  width: $checkbox-size-sm;
  height: $checkbox-size-sm;
}

.cck-checkbox__size--md .cck-checkbox__input-wrapper {
  width: $checkbox-size-md;
  height: $checkbox-size-md;
}

.cck-checkbox__size--lg .cck-checkbox__input-wrapper {
  width: $checkbox-size-lg;
  height: $checkbox-size-lg;
}

.cck-checkbox__input {
  position: absolute;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: inherit;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.cck-checkbox__background {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid $color-m-contrast-default;
  border-radius: 2px;
  pointer-events: none;
  will-change: background-color, border-color;
  transition: background-color 90ms cubic-bezier(0.4, 0, 0.6, 1), border-color 90ms cubic-bezier(0.4, 0, 0.6, 1);
}

.cck-checkbox--disabled .cck-checkbox__background,
.cck-checkbox--checked.cck-checkbox--disabled .cck-checkbox__background,
.cck-checkbox--unchecked.cck-checkbox--disabled .cck-checkbox__background,
.cck-checkbox--indeterminate.cck-checkbox--disabled .cck-checkbox__background {
  background-color: $color-disabled-surface;
  border-color: $color-disabled-border;
}

.cck-checkbox--indeterminate.cck-checkbox__color--brand .cck-checkbox__background,
.cck-checkbox--checked.cck-checkbox__color--brand .cck-checkbox__background {
  background-color: $color-brand-default;
  border-color: $color-brand-default;
}

.cck-checkbox--indeterminate.cck-checkbox__color--info .cck-checkbox__background,
.cck-checkbox--checked.cck-checkbox__color--info .cck-checkbox__background {
  background-color: $color-info-default;
  border-color: $color-info-default;
}

.cck-checkbox--indeterminate.cck-checkbox__color--warning .cck-checkbox__background,
.cck-checkbox--checked.cck-checkbox__color--warning .cck-checkbox__background {
  background-color: $color-warning-default;
  border-color: $color-warning-default;
}

.cck-checkbox--indeterminate.cck-checkbox__color--error .cck-checkbox__background,
.cck-checkbox--checked.cck-checkbox__color--error .cck-checkbox__background {
  background-color: $color-error-default;
  border-color: $color-error-default;
}

.cck-checkbox__color--brand .cck-checkbox__input:focus-visible ~ .cck-checkbox__background {
  box-shadow: 0 0 0 3px var(--color-brand-alpha-5);
}

.cck-checkbox__color--info .cck-checkbox__input:focus-visible ~ .cck-checkbox__background {
  box-shadow: 0 0 0 3px var(--color-info-alpha-5);
}

.cck-checkbox__color--warning .cck-checkbox__input:focus-visible ~ .cck-checkbox__background {
  box-shadow: 0 0 0 3px var(--color-warning-alpha-5);
}

.cck-checkbox__color--error .cck-checkbox__input:focus-visible ~ .cck-checkbox__background {
  box-shadow: 0 0 0 3px var(--color-error-alpha-5);
}

.cck-checkbox__checkmark-path {
  transition: stroke-dashoffset 180ms cubic-bezier(0.4, 0, 0.6, 1);
  stroke: currentcolor;
  stroke-width: 3.12px;
  stroke-dashoffset: 29.7833;
  stroke-dasharray: 29.7833;
}

.cck-checkbox--checked .cck-checkbox__checkmark-path {
  stroke-dashoffset: 0;
}

.cck-checkbox__checkmark {
  position: absolute;
  inset: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 180ms cubic-bezier(0.4, 0, 0.6, 1);
  color: $checkbox-color-checkmark;
  padding: 2px;
}

.cck-checkbox--checked .cck-checkbox__checkmark {
  opacity: 1;
}

.cck-checkbox--indeterminate .cck-checkbox__checkmark {
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 90ms cubic-bezier(0.4, 0, 0.6, 1), transform 90ms cubic-bezier(0.4, 0, 0.6, 1);
}

.cck-checkbox--disabled .cck-checkbox__checkmark {
  color: $color-disabled-border;
}

.cck-checkbox__mixedmark {
  width: 100%;
  height: 0;
  transform: scaleX(0) rotate(0deg);
  border-width: 1px;
  border-style: solid;
  opacity: 0;
  transition: opacity 90ms cubic-bezier(0.4, 0, 0.6, 1), transform 90ms cubic-bezier(0.4, 0, 0.6, 1);
  border-color: $checkbox-color-checkmark;
  margin: 2px;
}

.cck-checkbox--indeterminate .cck-checkbox__mixedmark {
  transform: scaleX(1) rotate(0deg);
  opacity: 1;
}

.cck-checkbox__label {
  margin-left: 0;
  margin-right: auto;
  padding-left: 4px;
  padding-right: 0;
  order: 0;
  text-align: left;
  font: $text-sm-medium;
  color: $color-font-default;
  cursor: pointer;
}

.cck-checkbox--disabled .cck-checkbox__label {
  color: $color-disabled-font;
}
