@use '../../token/scss' as *;

// region ------------- Size -------------

.cck-svg-icon__size--xs {
  width: $icon-size-xs;
  height: $icon-size-xs;
}

.cck-svg-icon__size--sm {
  width: $icon-size-sm;
  height: $icon-size-sm;
}

.cck-svg-icon__size--md {
  width: $icon-size-md;
  height: $icon-size-md;
}

.cck-svg-icon__size--lg {
  width: $icon-size-lg;
  height: $icon-size-lg;
}

.cck-svg-icon__size--xl {
  width: $icon-size-xl;
  height: $icon-size-xl;
}

.cck-svg-icon__size--2xl {
  width: $icon-size-2xl;
  height: $icon-size-2xl;
}

// endregion

// region ------------- Color -------------
.cck-svg-icon__color--brand .cck-svg-icon__svg {
  fill: $color-brand-default;
}

.cck-svg-icon__color--info .cck-svg-icon__svg {
  fill: $color-info-default;
}

.cck-svg-icon__color--warning .cck-svg-icon__svg {
  fill: $color-warning-default;
}

.cck-svg-icon__color--error .cck-svg-icon__svg {
  fill: $color-error-default;
}

.cck-svg-icon__color--h-contrast .cck-svg-icon__svg {
  fill: $color-h-contrast-default;
}

.cck-svg-icon__color--m-contrast .cck-svg-icon__svg {
  fill: $color-m-contrast-default;
}

.cck-svg-icon__color--l-contrast .cck-svg-icon__svg {
  fill: $color-l-contrast-default;
}

// endregion
