@use '../../token/scss-variables' as *;

// region ------------- Size -------------

.cck-svg-icon__size--default {
  width: $size-icon-md;
  height: $size-icon-md;
}

.cck-svg-icon__size--xs {
  width: $size-icon-xs;
  height: $size-icon-xs;
}

.cck-svg-icon__size--sm {
  width: $size-icon-sm;
  height: $size-icon-sm;
}

.cck-svg-icon__size--md {
  width: $size-icon-md;
  height: $size-icon-md;
}

.cck-svg-icon__size--lg {
  width: $size-icon-lg;
  height: $size-icon-lg;
}

.cck-svg-icon__size--xl {
  width: $size-icon-xl;
  height: $size-icon-xl;
}

.cck-svg-icon__size--2xl {
  width: $size-icon-2xl;
  height: $size-icon-2xl;
}

// endregion

// region ------------- Color -------------
.cck-svg-icon__color--brand .cck-svg-icon__svg {
  fill: $color-brand-default;
}

.cck-svg-icon__color--info .cck-svg-icon__svg {
  fill: $color-info-default;
}

.cck-svg-icon__color--warning .cck-svg-icon__svg {
  fill: $color-warning-default;
}

.cck-svg-icon__color--error .cck-svg-icon__svg {
  fill: $color-error-default;
}

.cck-svg-icon__color--h-contrast .cck-svg-icon__svg {
  fill: $color-h-contrast-default;
}

.cck-svg-icon__color--default .cck-svg-icon__svg,
.cck-svg-icon__color--m-contrast .cck-svg-icon__svg {
  fill: $color-m-contrast-default;
}

.cck-svg-icon__color--l-contrast .cck-svg-icon__svg {
  fill: $color-l-contrast-default;
}

// endregion
