@use '../../token/scss' as *;

.cck-radio-group {
  display: flex;
  align-items: flex-start;
}

.cck-radio-group__row {
  flex-direction: row;
  gap: 24px;
}

.cck-radio-group__column {
  flex-direction: column;
}
