import { Component, input } from '@angular/core';

import { ExampleArgs } from '@cocokits/common-kits-doc/examples-config/<%= uiComponentName %>/<%= fileName %>.config';

@Component({
  standalone: true,
  selector: 'cck-<%= fileName %>',
  imports: [],
  template: `
    
  `,
  styles: `
  `
})
export class <%= className %>Component {
  public cckExampleArgs = input.required<ExampleArgs>();
}
