@use '../../token/scss' as *;

@mixin chip-list {
  .cck-chip-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 12px;
  }

  .cck-chip-list__input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    font: $text-base-font-medium;
    color: $text-dark-primary;

    &::placeholder {
      color: $text-dark-tertiary;
      transition: color 100ms ease-in;
    }

    &:not(:focus)::placeholder {
      color: transparent;
    }
  }
}
