// Elements
$badge: '.cck-badge';
$badgeContainer: '.cck-badge-container';
$topLeft: '.cck-badge-container--top-left';
$topRight: '.cck-badge-container--top-right';
$bottomLeft: '.cck-badge-container--bottom-left';
$bottomRight: '.cck-badge-container--bottom-right';
$customOffset: '.cck-badge-container--custom-offset';
