// Type
$T_rounded: '.cck-badge__rounded';
$T_rectangle: '.cck-badge__rectangle';

// Size
$S_sm: '.cck-badge__size--sm';
$S_md: '.cck-badge__size--md';
$S_lg: '.cck-badge__size--lg';
$S_xl: '.cck-badge__size--xl';

// Color
$C_brand: '.cck-badge__color--brand';
$C_info: '.cck-badge__color--info';
$C_warning: '.cck-badge__color--warning';
$C_error: '.cck-badge__color--error';
$C_hContrast: '.cck-badge__color--h-contrast';

// Elements
$badge: '.cck-badge';
$content: '.cck-badge__content';
$maxIndicator: '.cck-badge__max-indicator';
$withContent: '.cck-badge--with-content';
$withoutContent: '.cck-badge--without-content';
$hidden: '.cck-badge--hidden';
