@use '../../../token/scss' as *;

@mixin button-outline {
  .cck-button__outline {
    border-radius: 4px;
    background-color: transparent;
  }

  // Brand
  .cck-button__outline.cck-button__color--brand:not(:disabled) {
    border: 1px solid $color-brand-default;
    color: $color-brand-default;
  }

  .cck-button__outline.cck-button__color--brand:focus-visible {
    box-shadow: 0 0 0 3px var(--color-brand-alpha-6);
  }

  // Info
  .cck-button__outline.cck-button__color--info:not(:disabled) {
    border: 1px solid $color-info-default;
    color: $color-info-default;
  }

  .cck-button__outline.cck-button__color--info:focus-visible {
    box-shadow: 0 0 0 3px var(--color-info-alpha-6);
  }

  // Warning
  .cck-button__outline.cck-button__color--warning:not(:disabled) {
    border: 1px solid $color-warning-default;
    color: $color-warning-default;
  }

  .cck-button__outline.cck-button__color--warning:focus-visible {
    box-shadow: 0 0 0 3px var(--color-warning-alpha-6);
  }

  // Error
  .cck-button__outline.cck-button__color--error:not(:disabled) {
    border: 1px solid $color-error-default;
    color: $color-error-default;
  }

  .cck-button__outline.cck-button__color--error:focus-visible {
    box-shadow: 0 0 0 3px var(--color-error-alpha-6);
  }

  // h-contrast
  .cck-button__outline.cck-button__color--h-contrast:not(:disabled) {
    border: 1px solid $color-h-contrast-default;
    color: $color-h-contrast-default;
  }

  .cck-button__outline.cck-button__color--h-contrast:focus-visible {
    box-shadow: 0 0 0 3px var(--color-h-contrast-alpha-6);
  }
}
