@use '../../../token/scss' as *;

@mixin icon-button-primary {
  // Brand
  .cck-icon-button__primary.cck-icon-button__color--brand:not(:disabled) {
    background-color: $color-brand-default;
    fill: $color-font-inverse-default;
  }

  .cck-icon-button__primary.cck-icon-button__color--brand:focus-visible {
    box-shadow: 0 0 0 3px var(--color-brand-alpha-6);
  }

  // Info
  .cck-icon-button__primary.cck-icon-button__color--info:not(:disabled) {
    background-color: $color-info-default;
    fill: $color-font-inverse-default;
  }

  .cck-icon-button__primary.cck-icon-button__color--info:focus-visible {
    box-shadow: 0 0 0 3px var(--color-info-alpha-6);
  }

  // Warning
  .cck-icon-button__primary.cck-icon-button__color--warning:not(:disabled) {
    background-color: $color-warning-default;
    fill: $color-font-inverse-default;
  }

  .cck-icon-button__primary.cck-icon-button__color--warning:focus-visible {
    box-shadow: 0 0 0 3px var(--color-warning-alpha-6);
  }

  // Error
  .cck-icon-button__primary.cck-icon-button__color--error:not(:disabled) {
    background-color: $color-error-default;
    fill: $color-font-inverse-default;
  }

  .cck-icon-button__primary.cck-icon-button__color--error:focus-visible {
    box-shadow: 0 0 0 3px var(--color-error-alpha-6);
  }

  // h-contrast
  .cck-icon-button__primary.cck-icon-button__color--h-contrast:not(:disabled) {
    background-color: $color-h-contrast-default;
    fill: $color-font-inverse-default;
  }

  .cck-icon-button__primary.cck-icon-button__color--h-contrast:focus-visible {
    box-shadow: 0 0 0 3px var(--color-h-contrast-alpha-6);
  }
}
