@use '../../token/scss' as *;

@mixin error {
  .cck-error {
    display: flex;
    gap: 6px;
    font: $text-sm-regular;
    color: $color-error-default;

    .cck-svg-icon--default-color .cck-svg-icon__svg {
      fill: currentcolor;
    }
  }
}
