@use '../../token/scss' as *;

@mixin form-field {
  .cck-form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $form-field-spacing-host-gap;
  }

  .cck-form-field .cck-select {
    height: 100%;
    width: 100%;
    flex: 1;
  }

  .cck-form-field .cck-input {
    width: 100%;
    flex: 1;
  }

  .cck-form-field--disabled {
    opacity: 0.5;
  }

  .cck-form-field__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-radius: $form-field-size-radius;
  }

  .cck-form-field__wrapper:has(input:disabled) {
    background-color: var(--color-surface-inverse-alpha-3);
  }

  .cck-form-field--with-input.cck-form-field__size--sm .cck-form-field__wrapper,
  .cck-form-field--with-select.cck-form-field__size--sm .cck-form-field__wrapper {
    height: $form-field-size-height-sm;
  }

  .cck-form-field--with-input.cck-form-field__size--md .cck-form-field__wrapper,
  .cck-form-field--with-select.cck-form-field__size--md .cck-form-field__wrapper {
    height: $form-field-size-height-md;
  }

  .cck-form-field--with-input.cck-form-field__size--lg .cck-form-field__wrapper,
  .cck-form-field--with-select.cck-form-field__size--lg .cck-form-field__wrapper {
    height: $form-field-size-height-lg;
  }

  .cck-form-field .cck-label {
    margin-left: $form-field-spacing-balance-alignment-margin;
  }

  .cck-form-field__feedback-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-left: $form-field-spacing-balance-alignment-margin;
  }

  .cck-form-field__feedback-wrapper:empty {
    display: none;
  }

  .cck-form-field__wrapper > *:first-child {
    border-top-left-radius: $form-field-size-radius;
    border-bottom-left-radius: $form-field-size-radius;
  }

  .cck-form-field__wrapper > *:last-child {
    border-top-right-radius: $form-field-size-radius;
    border-bottom-right-radius: $form-field-size-radius;
  }

  .cck-form-field__input-wrapper {
    min-width: 0;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $form-field-spacing-input-wrapper-gap;
    border: 1px solid $form-field-color-border;
  }

  .cck-form-field--with-input .cck-form-field__input-wrapper,
  .cck-form-field--with-select .cck-form-field__input-wrapper {
    padding: 0 $form-field-spacing-input-wrapper-h-padding;
  }

  .cck-form-field--with-chip-list .cck-form-field__input-wrapper {
    padding: 4px;
    cursor: text;
  }

  .cck-form-field--with-textarea .cck-form-field__input-wrapper {
    padding: 8px;
  }

  .cck-form-field--focused .cck-form-field__input-wrapper {
    border: 1px solid $color-brand-default;
    box-shadow: inset 0 0 0 1px $color-brand-default;
  }

  .cck-form-field--error .cck-form-field__input-wrapper {
    border: 1px solid $form-field-color-error;
  }

  .cck-form-field--focused.cck-form-field--error .cck-form-field__input-wrapper {
    box-shadow: inset 0 0 0 1px $form-field-color-error;
  }
}
