@use '../../token/scss' as *;

@mixin hint {
  .cck-hint {
    display: flex;
    gap: 6px;
    font: $text-sm-regular;
    color: $color-font-alpha-7;

    .cck-svg-icon--default-color .cck-svg-icon__svg {
      fill: currentcolor;
    }
  }
}
