@use '../../token/scss' as *;

@mixin input {
  .cck-input {
    border: none;
    outline: none;
    background-color: transparent;
    font: $text-md-regular;
    color: $color-font-default;
    text-overflow: ellipsis;
  }

  .cck-input::placeholder {
    color: $color-font-alpha-6;
  }

  .cck-input:disabled::placeholder {
    color: $color-font-alpha-5;
  }

  .cck-input:disabled {
    color: $color-font-alpha-6;
    user-select: none;
    cursor: default;
  }
}
