@use '../../token/scss' as *;

@mixin label {
  .cck-label {
    display: flex;
  }

  .cck-label__label-tag {
    font: $text-sm-medium;
    color: $color-font-default;
  }

  .cck-label__required-marker {
    font: $text-sm-medium;
    color: $color-brand-default;
    margin-left: $label-spacing-required-marker-padding-left;
  }
}
