@use '../../token/scss' as *;

@mixin textarea {
  .cck-textarea {
    border: none;
    outline: none;
    background-color: transparent;
    scrollbar-color: $form-field-color-border transparent;
    font: $text-md-regular;
    color: $color-font-default;
    padding: 0;
  }

  .cck-textarea::placeholder {
    color: $color-font-alpha-6;
  }

  .cck-textarea::-webkit-resizer {
    width: 16px;
    height: 16px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%238897AE"><path d="M2.4,12.6c-0.3-0.3-0.3-0.7-0.1-0.9l9.4-9.4c0.2-0.2,0.6-0.1,0.9,0.1s0.3,0.7,0.1,0.9l-9.4,9.4C3.1,12.9,2.7,12.8,2.4,12.6z M7.1,12.8c-0.3-0.3-0.3-0.6-0.2-0.8L12,6.9c0.2-0.2,0.5-0.1,0.8,0.2c0.3,0.3,0.3,0.6,0.2,0.8L7.8,13C7.7,13.1,7.3,13,7.1,12.8z"/></svg>');
  }

  .cck-textarea:disabled {
    user-select: none;
    cursor: default;
    pointer-events: none;
  }
}
