// Base
$size-0: var(--size-0);
$size-1: var(--size-1);
$size-2: var(--size-2);
$size-3: var(--size-3);
$size-4: var(--size-4);
$size-5: var(--size-5);
$size-6: var(--size-6);
$size-7: var(--size-7);
$size-8: var(--size-8);
$size-9: var(--size-9);
$size-10: var(--size-10);
$size-11: var(--size-11);
$size-12: var(--size-12);
$size-13: var(--size-13);
$size-14: var(--size-14);
$size-15: var(--size-15);
$size-16: var(--size-16);
$size-17: var(--size-17);
$size-18: var(--size-18);
$size-19: var(--size-19);
$size-20: var(--size-20);
$size-21: var(--size-21);
$size-22: var(--size-22);
$size-23: var(--size-23);
$size-24: var(--size-24);
$size-25: var(--size-25);
$size-26: var(--size-26);
$size-27: var(--size-27);
$size-28: var(--size-28);
$size-29: var(--size-29);
$size-30: var(--size-30);
$size-31: var(--size-31);

// Icon
$size-icon-default: var(--size-icon-default);
$size-icon-xs: var(--size-icon-xs);
$size-icon-sm: var(--size-icon-sm);
$size-icon-md: var(--size-icon-md);
$size-icon-lg: var(--size-icon-lg);
$size-icon-xl: var(--size-icon-xl);
$size-icon-xxl: var(--size-icon-xxl);
