.flex {
  display: flex;
}

// direction
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

// justify-content
.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

// align-items
.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

// wrap
.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

// gap
.gap-12 {
  gap: 12px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.gap-32 {
  gap: 32px;
}

// size - font-weight - color
.p-sm-regular-4 {
  font: var(--cck-storybook-text-sm-regular);
  color: var(--cck-storybook-color-font-contrast-4);
}

.p-md-regular-4 {
  font: var(--cck-storybook-text-md-regular);
  color: var(--cck-storybook-color-font-contrast-4);
}

.p-sm-regular-3 {
  font: var(--cck-storybook-text-sm-regular);
  color: var(--cck-storybook-color-font-contrast-3);
}

.p-md-regular-3 {
  font: var(--cck-storybook-text-md-regular);
  color: var(--cck-storybook-color-font-contrast-3);
}

.p-sm-regular-2 {
  font: var(--cck-storybook-text-sm-regular);
  color: var(--cck-storybook-color-font-contrast-2);
}

.p-md-regular-2 {
  font: var(--cck-storybook-text-md-regular);
  color: var(--cck-storybook-color-font-contrast-2);
}

.story-variant-table {
  border: var(--cck-storybook-size-1) solid var(--cck-storybook-color-bg-body-inverse-alpha-5);
  border-radius: var(--cck-storybook-size-6);
  border-spacing: 0;
}

.story-variant-table td,
.story-variant-table th {
  font: var(--cck-storybook-text-sm-medium);
  color: var(--cck-storybook-color-font-contrast-4);
  padding: var(--cck-storybook-size-16) var(--cck-storybook-size-24);
  text-align: center;
  vertical-align: top;
}

.story-variant-table thead th {
  border-bottom: var(--cck-storybook-size-1) solid var(--cck-storybook-color-bg-body-inverse-alpha-5);
}

.story-variant-table tbody td:first-child {
  font: var(--cck-storybook-text-sm-medium);
  color: var(--cck-storybook-color-font-contrast-3);
  border-right: var(--cck-storybook-size-1) solid var(--cck-storybook-color-bg-body-inverse-alpha-5);
}

.story-variant-table.story-variant-table--no-col-header tbody td:first-child {
  border-right: none;
}
