.flex {
  display: flex;
}

// direction
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

// justify-content
.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

// align-items
.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

// wrap
.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

// gap
.gap-12 {
  gap: 12px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.gap-32 {
  gap: 32px;
}

.m-t-36 {
  margin-top: 36px;
}

.hr-v {
  width: 100%;
  margin: 48px 0;
  height: 1px;
  background-color: var(--cck-storybook-color-border-alpha-5);
}

.hr-h {
  width: 1px;
  margin: 0 48px;
  height: 100%;
  background-color: var(--cck-storybook-color-border-alpha-5);
}

.story-margin-auto {
  margin: auto;
}

.story-min-h-300 {
  min-height: 300px;
}

.story-min-h-400 {
  min-height: 400px;
}

.story-w-200 {
  width: 200px;
}

.story-w-300 {
  width: 300px;
}

.story-w-400 {
  width: 400px;
}

.story-w-500 {
  width: 500px;
}

.story-w-600 {
  width: 600px;
}

.story-h-200 {
  height: 200px;
}

.story-h-300 {
  height: 300px;
}

.story-h-350 {
  height: 350px;
}

.story-h-400 {
  height: 400px;
}

.story-h-500 {
  height: 500px;
}

.story-h-600 {
  height: 600px;
}

.story-theme-default-toggle-box {
  padding: 12px 24px;
  margin: 24px;
  border-radius: 6px;
  border: 2px solid transparent;
  transition: 0.3s ease border;

  &:hover {
    border-color: var(--color-brand-default);
    background-color: var(--cck-storybook-color-bg-body-inverse-alpha-2);
  }
}

.story-theme-default-toggle-box__title {
  font: var(--cck-storybook-text-sm-medium);
  color: var(--cck-storybook-color-font-contrast-4);
}

.story-theme-default-toggle-box__text {
  font: var(--cck-storybook-text-sm-regular);
  color: var(--cck-storybook-color-font-contrast-3);
}

.story-overlay-example {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-card {
  background-color: var(--cck-storybook-color-bg-body-alpha-10);
  border: 1px solid var(--cck-storybook-color-border-alpha-default);
  padding: 24px;
}

.story-input {
  border: 1px dashed var(--cck-storybook-color-border-alpha-default);
  border-radius: 4px;
  padding: 4px 12px;
  font: var(--cck-storybook-text-sm-regular);
  color: var(--cck-storybook-color-font-contrast-4);
  background-color: var(--cck-storybook-color-bg-body-inverse-alpha-1);
  outline: none;
}

.story-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 8px 12px;
  border: 1px solid var(--cck-storybook-color-border-button-primary);
  outline: none;
  border-radius: 4px;
  color: var(--cck-storybook-color-font-contrast-2);
  font: var(--cck-storybook-text-sm-regular);
  background-color: var(--cck-storybook-color-bg-button-primary);
  cursor: pointer;
}

.story-button:hover {
  background-color: var(--cck-storybook-color-bg-button-primary-hover);
  border: 1px solid var(--cck-storybook-color-border-button-primary-hover);
}

// size - font-weight - color
.p-sm-regular-4 {
  font: var(--cck-storybook-text-sm-regular);
  color: var(--cck-storybook-color-font-contrast-4);
}

.p-md-regular-4 {
  font: var(--cck-storybook-text-md-regular);
  color: var(--cck-storybook-color-font-contrast-4);
}

.p-sm-regular-3 {
  font: var(--cck-storybook-text-sm-regular);
  color: var(--cck-storybook-color-font-contrast-3);
}

.p-md-regular-3 {
  font: var(--cck-storybook-text-md-regular);
  color: var(--cck-storybook-color-font-contrast-3);
}

.p-sm-regular-2 {
  font: var(--cck-storybook-text-sm-regular);
  color: var(--cck-storybook-color-font-contrast-2);
}

.p-md-regular-2 {
  font: var(--cck-storybook-text-md-regular);
  color: var(--cck-storybook-color-font-contrast-2);
}

.story-variant-table {
  border: var(--cck-storybook-size-1) solid var(--cck-storybook-color-bg-body-inverse-alpha-5);
  border-radius: var(--cck-storybook-size-6);
  border-spacing: 0;
}

.story-variant-table td,
.story-variant-table th {
  font: var(--cck-storybook-text-sm-medium);
  color: var(--cck-storybook-color-font-contrast-4);
  padding: var(--cck-storybook-size-16) var(--cck-storybook-size-24);
  text-align: center;
  vertical-align: top;
}

.story-variant-table--bottom-align td,
.story-variant-table--bottom-align th {
  vertical-align: bottom;
}

.story-variant-table thead th {
  border-bottom: var(--cck-storybook-size-1) solid var(--cck-storybook-color-bg-body-inverse-alpha-5);
}

.story-variant-table tbody td:first-child {
  font: var(--cck-storybook-text-sm-medium);
  color: var(--cck-storybook-color-font-contrast-3);
  border-right: var(--cck-storybook-size-1) solid var(--cck-storybook-color-bg-body-inverse-alpha-5);
}

.story-variant-table.story-variant-table--no-col-header tbody td:first-child {
  border-right: none;
}

.story-variant-table.story-variant-table--center-header tbody td:first-child {
  vertical-align: middle;
}

// region Overlay
.cck-overlay__backdrop {
  background-color: var(--cck-storybook-color-bg-overlay-backdrop);
}

.story-overlay-red-backdrop .cck-overlay__backdrop {
  background-color: rgb(255 0 0 / 30%);
}

.story-overlay-transparent-backdrop .cck-overlay__backdrop {
  background-color: rgb(0 0 0 / 0%);
}

.story-overlay-container-ref .cck-overlay {
  position: absolute;
}

// endregion

// arg-type-table
// arg-type-table--full-width
.arg-type-table {
  border: var(--cck-storybook-size-1) solid var(--cck-storybook-color-bg-body-inverse-alpha-5);
  border-radius: var(--cck-storybook-size-6);
  border-spacing: 0;
  align-self: flex-start;

  &.arg-type-table--full-width {
    min-width: 100%;
  }

  & p {
    color: inherit;
    font: inherit;
    margin-bottom: 0;
  }

  tr {
    font: var(--cck-storybook-text-sm-medium);
    color: var(--cck-storybook-color-font-contrast-4);
    padding: var(--cck-storybook-size-12) var(--cck-storybook-size-24);

    &:nth-child(even) {
      background-color: var(--cck-storybook-color-bg-table-even);
    }
  }

  td {
    font: var(--cck-storybook-text-sm-regular);
    color: var(--cck-storybook-color-font-contrast-2);
    padding: var(--cck-storybook-size-12) var(--cck-storybook-size-24);
    border-top: var(--cck-storybook-size-1) solid var(--cck-storybook-color-border-alpha-default);

    &:first-child {
      white-space: nowrap;
      font: var(--cck-storybook-text-sm-medium);
      color: var(--cck-storybook-color-font-contrast-4);
    }

    & code {
      white-space: break-spaces;
      font: var(--cck-storybook-text-xs-regular);
      padding: var(--cck-storybook-size-0) var(--cck-storybook-size-6);
    }
  }

  th {
    font: var(--cck-storybook-text-sm-medium);
    color: var(--cck-storybook-color-font-contrast-4);
    padding: var(--cck-storybook-size-12) var(--cck-storybook-size-24);
    text-align: left;
  }
}

.utils-doc-page {
  pre {
    margin: 0;

    pre.prismjs {
      padding: 12px;
    }
  }

  pre .docblock-source {
    margin: 0 0 24px;
  }

  // Copy source code button
  pre .docblock-source > div:nth-child(2) {
    display: none;
  }

  table {
    margin-bottom: 24px;
  }
}
