import { StoriesMeta, StoryObj } from '@cocokits/storybook-addon-theme-react';

import { Button } from '../../<%- relativeComponentDirectory %>/<%- fileName %>';

import descriptionMd from './description.md';

export { Default } from './default.stories';
export { Type } from './type.stories';
export { Size } from './size.stories';
export { Color } from './color.stories';

const meta: StoriesMeta<typeof <%- className %>> = {
  component: <%- className %>,
  title: 'UDev/<%- className %>',
  tags: ['!autodocs'],
  decorators: [],
  argTypes: {},
};
export default meta;

export const Default: StoryObj<typeof <%- className %>> = {
  args: {
    // color: 'brand',
  },
};