@use '../../token/scss/index' as Tokens;

@mixin label {
  .cck-label {
    display: flex;
  }

  .cck-label__label-tag {
    font: Tokens.$text-sm-medium;
    color: Tokens.$color-font-default;
  }

  .cck-label__required-marker {
    font: Tokens.$text-sm-medium;
    color: Tokens.$color-brand-default;
    margin-left: Tokens.$label-spacing-required-marker-padding-left;
  }
}
