@use '../../token/scss/index' as *;

@mixin option {
  .cck-option {
    padding: 0 $option-spacing-item-h-padding;
    display: flex;
    align-items: center;
    font: $text-sm-regular;
    color: $color-font-default;
    gap: $option-spacing-item-gap;
    margin: 0 4px;
    border-radius: 6px;
  }

  .cck-option:not(.cck-option--disabled) {
    cursor: pointer;
  }

  .cck-option--disabled {
    opacity: 0.7;
    color: $color-disabled-font;
    user-select: none;
  }

  .cck-option:not(.cck-option--disabled):hover {
    background-color: $color-surface-inverse-alpha-1;
  }

  .cck-option .cck-checkbox__input-wrapper {
    width: $checkbox-size-sm;
    height: $checkbox-size-sm;
  }

  .cck-option--single.cck-option--selected {
    font: $text-sm-medium;
  }

  .cck-option__size--sm {
    height: $option-size-height-sm;
  }

  .cck-option__size--md {
    height: $option-size-height-md;
  }

  .cck-option__size--lg {
    height: $option-size-height-lg;
  }

  .cck-select__options-wrapper {
    max-height: inherit;
    height: inherit;
    overflow: auto;
    margin-top: $option-spacing-overlay-margin-top;
    background-color: $color-surface-default;
    border: 1px solid $option-color-overlay-border;
    padding: $option-spacing-overlay-h-padding $option-spacing-overlay-v-padding;
    border-radius: $option-size-overlay-radius;
  }

  .cck-option__content-wrapper {
    flex: 1;
  }

  .cck-option__selected-checkmark .cck-svg-icon {
    width: $icon-size-sm;
    height: $icon-size-sm;
  }
}
