@use '../../token/scss/index' as *;

@mixin prefix {
  .cck-prefix {
    flex-grow: 0;
  }

  .cck-prefix .cck-svg-icon.cck-svg-icon--default-size {
    width: $icon-size-xs;
    height: $icon-size-xs;
  }

  .cck-prefix .cck-svg-icon.cck-svg-icon--default-color .cck-svg-icon__svg {
    fill: $form-field-color-icon;
  }
}
