@use '../../token/scss/index' as *;

@mixin suffix {
  .cck-suffix {
    flex-grow: 0;
  }

  .cck-suffix .cck-svg-icon.cck-svg-icon--default-size {
    width: $icon-size-xs;
    height: $icon-size-xs;
  }

  .cck-suffix .cck-svg-icon.cck-svg-icon--default-color .cck-svg-icon__svg {
    fill: $form-field-color-icon-light;
  }
}
