@use '../../token/scss' as *;

// region ------------- Size -------------

.cck-svg-icon__size--xs {
  width: $icon-xs;
  height: $icon-xs;
}

.cck-svg-icon__size--sm {
  width: $icon-sm;
  height: $icon-sm;
}

.cck-svg-icon__size--md {
  width: $icon-md;
  height: $icon-md;
}

.cck-svg-icon__size--lg {
  width: $icon-lg;
  height: $icon-lg;
}

.cck-svg-icon__size--xl {
  width: $icon-xl;
  height: $icon-xl;
}

.cck-svg-icon__size--2xl {
  width: $icon-2xl;
  height: $icon-2xl;
}

.cck-svg-icon__size--3xl {
  width: $icon-3xl;
  height: $icon-3xl;
}

.cck-svg-icon__size--4xl {
  width: $icon-4xl;
  height: $icon-4xl;
}

// endregion

// region ------------- Color -------------
.cck-svg-icon__color--test {
  fill: $colors-blue-500;
}

// endregion
