@use '../../token/scss-variables' as *;

// region ------------- Size -------------

.cck-svg-icon__size--xs {
  width: $icon-icon-xs;
  height: $icon-icon-xs;
}

.cck-svg-icon__size--sm {
  width: $icon-icon-sm;
  height: $icon-icon-sm;
}

.cck-svg-icon__size--md {
  width: $icon-icon-md;
  height: $icon-icon-md;
}

.cck-svg-icon__size--lg {
  width: $icon-icon-lg;
  height: $icon-icon-lg;
}

.cck-svg-icon__size--xl {
  width: $icon-icon-xl;
  height: $icon-icon-xl;
}

.cck-svg-icon__size--2xl {
  width: $icon-icon-2xl;
  height: $icon-icon-2xl;
}

.cck-svg-icon__size--3xl {
  width: $icon-icon-3xl;
  height: $icon-icon-3xl;
}

.cck-svg-icon__size--4xl {
  width: $icon-icon-4xl;
  height: $icon-icon-4xl;
}

// endregion

// region ------------- Color -------------
.cck-svg-icon__color--test {
  fill: $colors-blue-500;
}

// endregion
