story-table {
  display: block;
  min-width: 100%;
}

.story-table {
  border: var(--cck-storybook-size-1) solid var(--cck-storybook-color-bg-body-inverse-alpha-5);
  border-radius: var(--cck-storybook-size-6);
  border-spacing: 0;

  td,
  th {
    font: var(--cck-storybook-text-sm-regular);
    color: var(--cck-storybook-color-font-contrast-2);
    padding: var(--cck-storybook-size-16) var(--cck-storybook-size-24);
  }

  th {
    border-bottom: var(--cck-storybook-size-1) solid var(--cck-storybook-color-bg-body-inverse-alpha-5);
    background-color: var(--cck-storybook-color-bg-body-inverse-alpha-2);
  }

  td {
    height: 0;

    &:has(.row-header-cell) {
      width: 1px;
      border-right: var(--cck-storybook-size-1) solid var(--cck-storybook-color-bg-body-inverse-alpha-5);
      font: var(--cck-storybook-text-sm-medium);
      color: var(--cck-storybook-color-font-contrast-3);
    }
  }

  &.full-width {
    min-width: 100%;
  }

  .header-cell {
    display: flex;
    width: 100%;
    height: 100%;

    &__v-align {
      &--start {
        align-items: flex-start;
      }

      &--center {
        align-items: center;
      }

      &--end {
        align-items: flex-end;
      }
    }

    &__h-align {
      &--start {
        justify-content: flex-start;
      }

      &--center {
        justify-content: center;
      }

      &--end {
        justify-content: flex-end;
      }
    }
  }

  .row-body-cell {
    display: flex;
    width: 100%;
    height: 100%;

    &__v-align {
      &--start {
        align-items: flex-start;
      }

      &--center {
        align-items: center;
      }

      &--end {
        align-items: flex-end;
      }
    }

    &__h-align {
      &--start {
        justify-content: flex-start;
      }

      &--center {
        justify-content: center;
      }

      &--end {
        justify-content: flex-end;
      }
    }
  }

  .row-header-cell {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;

    &__v-align {
      &--start {
        align-items: flex-start;
      }

      &--center {
        align-items: center;
      }

      &--end {
        align-items: flex-end;
      }
    }

    &__h-align {
      &--start {
        justify-content: flex-start;
      }

      &--center {
        justify-content: center;
      }

      &--end {
        justify-content: flex-end;
      }
    }
  }
}
