.story-decorator-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.story-decorator-wrapper__row {
  flex-direction: row;
}

.story-decorator-wrapper__column {
  flex-direction: column;
}

.story-decorator-wrapper__inside-box {
  background-color: var(--cck-doc-color-bg-1);
  padding: 24px;
  border: 1px solid var(--cck-doc-color-border-2);
  border-radius: var(--cck-doc-radius-md);
}
